<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Historie</title>

    <link rel="stylesheet" href="../static/style-sheet.css">
    <style>
        h1 {
            text-align: center;
            font-size: 70px;
        }

        #responsive-lick-image {
            width: 20%;
            height: auto;
        }
    </style>

</head>
<body>
<div class="margin">
    <div id="topicHeader">
        <div class="topic" style="float: left">
            <a href="paper.html"> <img src="../static/pc.png" alt="pc" width="120px" height="80px"></a>
        </div>
        <div>
            <div class="topic"><a href="theme.html">Tema</a></div>
            <div class="topic"><a href="overview.html">Overblik</a></div>
            <div class="topic"><a href="history.html">Historie</a></div>
            <div class="topic"><a href="https://www.weekendavisen.dk/">Bøger</a></div>
        </div>
    </div>
    <h1>Historie</h1>
    <div class="article">
        <img src="../static/can I lick science.jpg" alt="lick-science" id="responsive-lick-image" width="250px"
             height="400px">
        <h2> Hvornår startede uddannelsen?</h2>
        <p>Datamatikeruddannelsen startede som forsøgsuddannelse i 1984
            ved Købmandsskolens Edb-skole i Fiolstræde, København.<br>
            <br>
            Ordet datamatiker er meget ældre end den uddannelse,
            der tog betegnelsen op og skabte en mere veldefineret betydning.
        </p>
    </div>
</div>
</body>
</html>