<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Overblik</title>

    <link rel="stylesheet" href="../static/style-sheet.css">
    <style>
        h1 {
            text-align: center;
            font-size: 70px;
        }

        #responsive-science-image {
            width: 20%;
            height: auto;
        }
    </style>

</head>
<body>
<div class="margin">
    <div id="topicHeader">
        <div class="topic" style="float: left">
            <a href="paper.html"> <img src="../static/pc.png" alt="pc" width="120px" height="80px"></a>
        </div>
        <div>
            <div class="topic"><a href="theme.html">Tema</a></div>
            <div class="topic"><a href="overview.html">Overblik</a></div>
            <div class="topic"><a href="history.html">Historie</a></div>
            <div class="topic"><a href="https://www.weekendavisen.dk/">Bøger</a></div>
        </div>
    </div>
    <h1>Overblik</h1>
    <div class="article">
        <img src="../static/img_computer.jpeg" alt="computer-science" id="responsive-science-image" width="250px"
             height="400px">
        <h2> Hvad laver en datamatiker?</h2>
        <p>En datamatiker beskæftiger sig med emner som programmering, systemudvikling,
            databaser, e-handel, it-sikkerhed og it-udvikling, blot for at nævne nogle ting.
            Det er meget forskellige, hvad en datamatiker laver, samt hvad de har specialiseret sig i.
            Mange datamatikere vælger at blive udviklere i en eller anden form.
        </p>
    </div>
</div>
</body>
</html>