<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datamat Avisen</title>

    <link rel="stylesheet" href="style-sheet.css">
    <style>
        #responsive-image-debug {
            width: 100%;
            height: auto;
        }

        #responsive-border {
            width: 90%;
            height: auto;
        }
    </style>

</head>
<body>
<div class="margin">
    <div class="header">
        <h1>Datamat Avisen <img src="../static/pc.png" alt="pc" width="70px" height="50px"></h1>
    </div>
    <div id="topicHeader">
        <div class="topic"><a href="theme.html">Tema</a></div>
        <div class="topic"><a href="overview.html">Overblik</a></div>
        <div class="topic"><a href="history.html">Historie</a></div>
        <div class="topic"><a href="https://www.weekendavisen.dk/">Bøger</a></div>

    </div>
    <div class="lead">
        <a href="theme.html">

            <div class="leadBlock">
                <img src="../static/problem solving flowchart.png"
                     id="responsive-image-debug"
                     alt="debugging"
                     style="float: left; width: 25vw"
                     width="250"
                     height="325">
                <div class="text">
                    <h3><span style="color: #41a8e2">TEMA</span></h3>
                    <h2> Debugging</h2>
                    <p>In computer programming and software development, debugging is the process of finding and
                        resolving
                        bugs (defects or problems that prevent correct operation) within computer programs, software, or
                        systems.
                        Debugging tactics can involve interactive debugging, control flow analysis, unit testing,
                        integration testing, log file analysis, monitoring at the application or system level, memory
                        dumps,
                        and profiling.
                        Many programming languages and software development tools also offer programs to aid in
                        debugging,
                        known as debuggers.
                    </p>
                </div>
            </div>
        </a>
    </div>
    <div class="focus" id="responsive-border">
        <a href="overview.html">

            <div class="focusBlock first">
                <img src="../static/img_computer.jpeg" alt="computer-science" width="250px" height="350px">

                <h4><span style="color: #41a8e2">Overblik </span></h4>
                <h2> Hvad er en datamatiker?</h2>
                <p>En datamatiker beskæftiger sig med emner som programmering,
                    systemudvikling, databaser, e-handel, it-sikkerhed og
                    it-udvikling, blot for at nævne nogle ting.
                </p>
            </div>
        </a>

        <a href="history.html">
            <div class="focusBlock">
                <img src="../static/can I lick science.jpg" alt="lick" width="250px" height="350px">

                <h4><span style="color: #41a8e2">Uddannelsens historie </span></h4>
                <h2> Hvornår startede uddannelsen?</h2>
                <p> Datamatikeruddannelsen startede som forsøgsuddannelse i 1984
                    ved Købmandsskolens Edb-skole i Fiolstræde, København.
                </p>
            </div>
        </a>
    </div>
</div>
<footer class="footer" style="font-size: 10px">
    <div style="margin-left: 20px">
        <p>
            <br>
            <span style="font-size: 12px">
            Datamat Avisen<br></span>
            /co KEA<br>
            Guldbergsgade 29N<br>
            2200 København N<br>
            <br>
        </p>
    </div>
</footer>
</body>
</html>