<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEMA</title>

    <link rel="stylesheet" href="style-sheet.css">
    <style>
        h1 {
            text-align: center;
            font-size: 70px;
        }

        #responsive-debug-image {
            width: 35%;
            height: auto;
        }
    </style>

</head>
<body>
<div class="margin">
    <div id="topicHeader">
        <div class="topic" style="float: left">
            <a href="paper.html"><img src="../static/pc.png" alt="pc" width="120px" height="80px"></a>
        </div>
        <div>
            <div class="topic"><a href="theme.html">Tema</a></div>
            <div class="topic"><a href="overview.html">Overblik</a></div>
            <div class="topic"><a href="history.html">Historie</a></div>
            <div class="topic"><a href="https://www.weekendavisen.dk/">Bøger</a></div>
        </div>
    </div>
    <h1><span style="color: #41a8e2">TEMA</span></h1>
    <div class="article">
        <img src="../static/problem solving flowchart.png" alt="debug" id="responsive-debug-image" width="380px"
             height="400px">
        <h2> Debugging</h2>
        <p>In computer programming and software development, debugging is the process of finding and resolving
            bugs (defects or problems that prevent correct operation) within computer programs, software, or
            systems.
            Debugging tactics can involve interactive debugging, control flow analysis, unit testing,
            integration testing, log file analysis, monitoring at the application or system level, memory dumps,
            and profiling.
            Many programming languages and software development tools also offer programs to aid in
            debugging,
            known as debuggers.
        </p>
    </div>
</div>
</body>
</html>